# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.

steps:
  - task: Cache@2
    condition: eq(variables.GccArm_Version, '')
    displayName: Cache latest ARM GCC toolchain
    inputs:
      key: 'gcc-11_3_rel1 | gccUpdateKey'
      restoreKeys: gccUpdateKey
      path: $(Agent.TempDirectory)\GNU_Tools_ARM_Embedded
      cacheHitVar: GCC_CACHE_RESTORED

  - task: PowerShell@2
    condition: ne(variables.GCC_CACHE_RESTORED, 'true') -and ne(GccArm_Version, '')
    displayName: Download and extract ARM GCC toolchain
    inputs:
        targetType: 'filePath'
        filePath: '$(Build.Repository.LocalPath)\install-scripts\install-arm-gcc-toolchain.ps1'
        arguments: '-Version "$(GccArm_Version)"'
        failOnStderr: true

  - task: PowerShell@2
    condition: ne(variables.GCC_CACHE_RESTORED, 'true') -and eq(GccArm_Version, '')
    displayName: Download and extract ARM GCC toolchain
    inputs:
        targetType: 'filePath'
        filePath: '$(Build.Repository.LocalPath)\install-scripts\install-arm-gcc-toolchain.ps1'
        arguments: '-Force'
        failOnStderr: true

  - task: ExtractFiles@1
    displayName: Extracting ARM GCC toolchain
    condition: ne(variables.GCC_CACHE_RESTORED, 'true') -and eq($(Agent.TempDirectory)\GNU_Tools_ARM_Embedded, '')
    inputs:
      archiveFilePatterns: '$(Agent.TempDirectory)\gcc-arm.zip' 
      destinationFolder: '$(Agent.TempDirectory)\GNU_Tools_ARM_Embedded' 

  - script: echo "##vso[task.prependpath]$(Agent.TempDirectory)\GNU_Tools_ARM_Embedded\bin"
    displayName: Add GCC to PATH

  - script: |
      echo "##vso[task.prependpath]c:\windows\System32"
      echo "##vso[task.prependpath]c:\windows\SysWoW64"
    displayName: Tweak PATH to reach cmd
