# Copyright (c) 2018 The nanoFramework project contributors
# See LICENSE file in the project root for full license information.

steps:
  - task: PowerShell@2
    inputs:
        targetType: 'inline'
        script: |

            if("$(GccArm_Version)" -ne "")
            {
                if("$(GccArm_Version)" -eq "5-2016-q3-update")
                {
                    $url = "https://bintray.com/nfbot/internal-build-tools/download_file?file_path=gcc-arm-none-eabi-5-2016-q3-update-win32.7z"
                }
                else
                {
                    # no valid version specifed, use the default one
                    # current default is , this is is "7-2018-q2-update"
                    $url = "https://bintray.com/nfbot/internal-build-tools/download_file?file_path=gcc-arm-none-eabi-7-2018-q2-update-win32.7z"
                }
            }
            else
            {
                # no version specifed, use the default one
                # current default is , this is is "7-2018-q2-update"
                $url = "https://bintray.com/nfbot/internal-build-tools/download_file?file_path=gcc-arm-none-eabi-7-2018-q2-update-win32.7z"
            }

            Write-Host "Downloading ARM GNU GCC toolchain $(GccArm_Version)..."

            $output = "$PSScriptRoot\gcc-arm.7z"
            (New-Object Net.WebClient).DownloadFile($url, $output)
        errorActionPreference: 'stop'
        failOnStderr: 'true'
    displayName: Downloading ARM GCC toolchain

  - task: ExtractFiles@1
    inputs:
      archiveFilePatterns: '$(Agent.TempDirectory)\gcc-arm.7z' 
      destinationFolder: '$(Agent.TempDirectory)\GNU_Tools_ARM_Embedded' 
    displayName: Extracting ARM GCC toolchain

  - script: echo "##vso[task.prependpath]C:\Windows\System32"
    displayName: Tweak PATH to reach cmd
