# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.

steps:
  
  # cache IDF tools folder
  - task: Cache@2
    displayName: Cache ESP32 tools
    inputs:
      key: 'esp32_tools | 4_4_2'
      restoreKeys: 4_4_2
      path: $(UserProfile)\.espressif\tools
      cacheHitVar: ESP32_TOOLS_CACHE_RESTORED

  # cache pip packages
  - task: Cache@2
    displayName: Cache pip packages
    inputs:
      key: 'python | "$(Agent.OS)" | esp-idf\requirements.txt'
      restoreKeys: python | "$(Agent.OS)" | esp-idf\requirements.txt
      path: $(PIP_CACHE_DIR)
      cacheHitVar: PIP_PACKAGES_RESTORED

  # Use Python Version 3.7 and add it to path
  - task: UsePythonVersion@0
    displayName: Set Python to v3.7
    inputs:
      versionSpec: '3.7'
      addToPath: true

  - task: PowerShell@2
    displayName: Fix install.ps1
    inputs:
      targetType: 'inline'
      workingDirectory: $(Agent.BuildDirectory)\s\esp-idf
      script: |
        $filecontent = Get-Content('install.ps1')
        attrib $file -r
        $filecontent -replace '--features=' , ' ' | Out-File 'install.ps1' -Encoding utf8
          
  # run IDF installers
  - task: PowerShell@2
    displayName: Install IDF (step 1)
    inputs:
      targetType: 'filePath'
      filePath: $(Agent.BuildDirectory)\s\esp-idf\install.ps1
      workingDirectory: $(Agent.BuildDirectory)\s\esp-idf

  - task: PowerShell@2
    displayName: Install IDF (step 2)
    inputs:
      targetType: 'inline'
      workingDirectory: $(Agent.BuildDirectory)\s\esp-idf
      script: |
        python -m pip install -r requirements.txt

  - task: PowerShell@2
    displayName: Install IDF (step 3)
    inputs:
      targetType: 'filePath'
      filePath: $(Agent.BuildDirectory)\s\esp-idf\export.ps1
      workingDirectory: $(Agent.BuildDirectory)\s\esp-idf

  - task: PowerShell@2
    displayName: Update PATH with IDF tools
    inputs:
      targetType: 'inline'
      workingDirectory: $(Agent.BuildDirectory)\s\esp-idf
      script: |
        $ErrorActionPreference = 'SilentlyContinue'
        $envars_raw = python $(IDF_PATH)/tools/idf_tools.py export --format key-value 2>$null
        
        # need to access the PATH collection, which seems to always be the last on in the collection
        $varsCount = $envars_raw.Count
        # go through the output and grab what has to be appended to the PATH
        # need to remove the entry for IDF CMake because it's using an older version of CMake, OK to remove after they update it to >3.24.0
        $newPath = $envars_raw[$varsCount - 1].ToString().Replace('PATH=', '').Replace(';%PATH%', '').Replace('C:\Users\VssAdministrator\.espressif\tools\cmake\3.23.1\bin;', '')

        # append to path
        Write-Host "##vso[task.prependpath]$newPath"

  - script: echo "##vso[task.prependpath]C:\Windows\System32"
    displayName: Tweak PATH to reach cmd
