# ignore all ZIP files
*.zip

# ignore stcube_repository folder
stcube_repository/*
# except CMakeLists file
!stcube_repository/CMakeLists.txt

# ignore build folder
build/*

# ignore cmake-variants file (will change frequently per user/board setup, use should derive content from cmake-variants.TEMPLATE.json)
cmake-variants.json

# ignore cmaketools user preferences file 
.vscode/.cmaketools.json
