[submodule "targets-community"]
	path = targets-community
	url = https://github.com/mconners/nf-Community-Targets.git
[submodule "nf-Community-Targets"]
	path = nf-Community-Targets
	url = https://github.com/mconners/nf-Community-Targets.git
