#
# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.
#

menu "Wire Protocol Transport"

choice WP_TRANSPORT
    prompt "Wire Protocol transport"
    default HAL_WP_USE_SERIAL

config HAL_WP_USE_SERIAL
    bool "UART serial"

config HAL_WP_USE_USB_CDC
    bool "USB CDC"

endchoice

config TARGET_SERIAL_BAUDRATE
    int "Serial baudrate for Wire Protocol"
    depends on HAL_WP_USE_SERIAL
    default 921600

endmenu
