#
# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.
#

menu "TI SimpleLink Platform"
    depends on RTOS_TI_SIMPLELINK

config TI_SIMPLELINK_RADIO_FREQ_MHZ
    int "Radio frequency (868 or 915 MHz)"
    default 915
    help
      Radio frequency for TI CC13xx devices.
      Valid values are 868 and 915.

endmenu
