# defconfig for RP_PICO_W_RP2040

CONFIG_API_SYSTEM_DEVICE_ADC=y
CONFIG_API_SYSTEM_DEVICE_GPIO=y
CONFIG_API_SYSTEM_DEVICE_I2C=y
CONFIG_API_SYSTEM_DEVICE_PWM=y
CONFIG_API_SYSTEM_DEVICE_SPI=y
CONFIG_API_SYSTEM_DEVICE_WIFI=y
CONFIG_API_SYSTEM_IO_FILESYSTEM=y
CONFIG_API_SYSTEM_NET=y
CONFIG_API_NANOFRAMEWORK_RESOURCEMANAGER=y
CONFIG_API_NANOFRAMEWORK_SYSTEM_COLLECTIONS=y
CONFIG_API_NANOFRAMEWORK_SYSTEM_TEXT=y
# CONFIG_CHIBIOS_CONTRIB_REQUIRED is not set
# CONFIG_CHIBIOS_SWO_OUTPUT is not set
# CONFIG_NF_BUILD_RTM is not set
CONFIG_NF_FEATURE_DEBUGGER=y
CONFIG_NF_FEATURE_HAS_ACCESSIBLE_STORAGE=y
CONFIG_NF_FEATURE_HAS_CONFIG_BLOCK=y
CONFIG_NF_FEATURE_LIGHT_MATH=y
CONFIG_NF_FEATURE_RTC=y
CONFIG_NF_FEATURE_USE_LITTLEFS=y
# CONFIG_NF_FEATURE_USE_RNG is not set
CONFIG_NF_SECURITY_MBEDTLS=y
# CONFIG_NF_SUPPORT_ANY_BASE_CONVERSION is not set
CONFIG_RTOS_CHIBIOS=y
# CONFIG_STM32_CUBE_PACKAGE_REQUIRED is not set
CONFIG_TARGET_BOARD="RP_PICO_W_RP2040"
CONFIG_TARGET_HAS_WIFI=y
CONFIG_TARGET_SERIES="RP2040"
