#
# Espressif IoT Development Framework (ESP-IDF) Project Configuration for running nanoFramework with ESP32H2
#

CONFIG_IDF_TARGET_ARCH_RISCV=y
CONFIG_IDF_TARGET_ARCH="riscv"
CONFIG_IDF_TARGET="esp32h2"
CONFIG_IDF_TARGET_ESP32H2=y
CONFIG_IDF_FIRMWARE_CHIP_ID=0x0010

#
# Partition Table
#
CONFIG_PARTITION_TABLE_SINGLE_APP=n
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="targets/ESP32/_IDF/${TARGET_SERIES_SHORT}/partitions_nanoclr_4mb.csv"
CONFIG_PARTITION_TABLE_FILENAME="targets/ESP32/_IDF/${TARGET_SERIES_SHORT}/partitions_nanoclr_4mb.csv"

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTION_LEVEL=0

#
# Bluetooth
#
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y

#
# UART Configuration
#
CONFIG_UART_ISR_IN_IRAM=y

#
# Legacy ADC Configuration
#
CONFIG_ADC_SUPPRESS_DEPRECATE_WARN=y

#
# Legacy ADC Calibration Configuration
#
CONFIG_ADC_CALI_SUPPRESS_DEPRECATE_WARN=y

#
# PCNT Configuration
#
CONFIG_PCNT_SUPPRESS_DEPRECATE_WARN=y

#
# RMT Configuration
#
CONFIG_RMT_SUPPRESS_DEPRECATE_WARN=y

#
# I2S Configuration
#
CONFIG_I2S_SUPPRESS_DEPRECATE_WARN=y

#
# DAC Configuration
#
CONFIG_DAC_SUPPRESS_DEPRECATE_WARN=y

#
# Ethernet
#
CONFIG_ETH_SPI_ETHERNET_DM9051=y
CONFIG_ETH_SPI_ETHERNET_W5500=y
CONFIG_ETH_SPI_ETHERNET_KSZ8851SNL=y

#
# Power Management
#
CONFIG_PM_ENABLE=y

#
# Memory protection
#
CONFIG_ESP_TASK_WDT_INIT=n

#
# FAT Filesystem support
#
CONFIG_FATFS_LFN_HEAP=y
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_API_ENCODING_ANSI_OEM=y
CONFIG_FATFS_ALLOC_PREFER_EXTRAM=y

#
# FreeRTOS
#
#
# Kernel
#
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_FREERTOS_IDLE_TIME_BEFORE_SLEEP=3
# end of Kernel

#
# LWIP
#
CONFIG_LWIP_LOCAL_HOSTNAME="nanodevice"
CONFIG_LWIP_MAX_SOCKETS=16
CONFIG_LWIP_SO_LINGER=y
CONFIG_LWIP_SO_RCVBUF=y
CONFIG_LWIP_DHCP_OPTIONS_LEN=80

CONFIG_LITTLEFS_MAX_PARTITIONS=1
CONFIG_LITTLEFS_OBJ_NAME_LEN=256
CONFIG_LITTLEFS_OPEN_DIR=y
CONFIG_LITTLEFS_FCNTL_GET_PATH=y
