# Copyright (c) .NET Foundation and Contributors
# Portions Copyright (c) 2018 Nordic Semiconductor ASA
# Portions Copyright (c) Ericsson AB 2020, all rights reserved
# See LICENSE file in the project root for full license information.

# Kconfig - nRF91 PCA20035 board configuration

module=BOARD
module-dep=LOG
module-str=Log level for board
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
