#
# Copyright (c) .NET Foundation and Contributors
# See LICENSE file in the project root for full license information.
#

menu "ThreadX Platform"
    depends on RTOS_THREADX

config GECKO_FEATURE_USBD_HID
    bool "Gecko USB HID device support"
    default n

config CHIBIOS_HAL_REQUIRED
    bool "ChibiOS HAL required (for STM32 WiFi targets)"
    default n

config THREADX_WIFI_DRIVER
    string "WiFi driver name"
    default ""

endmenu
