#
#
#

config NANOFRAMEWORK_LIB
	bool "nanoFramework library"
	# Since minimal libc lacks sscanf and strtod we need to use newlibc
	# Allow external libc to allow native posix to be used for unit test
	depends on NEWLIB_LIBC 
